// Variables
@import 'variables';
@import 'nav';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-blue {
    background-color: $primary;
}

aside a {
    color: white;
}

main a {
    color: $primary;
}

blockquote {
    font-style: italic;
}

.mb-auto {
    margin-bottom: auto !important;
}

nav {
    border-bottom: 1px solid $secondary;
}

// Navigation
@media all and (min-width: 768px) {
    .navbar {
        padding-top: 107px !important;
    }
}
@media all and (min-width: 992px) {
    .navbar {
        padding-top: 115px !important;
    }
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}
